<div class="container">
  <h1><%= @list.name %></h1>
  <%= cl_image_tag @list.picture.key, height: 300, width: 250, crop: :fill, class: 'rounded' %>
  <% @list.movies.each do |movie| %>
    <div>
      <h2><%= movie.title %></h2>
      <p><%= movie.overview %></p>
    </div>
  <% end %>
  <%= link_to "Add a Movie", new_list_bookmark_path(@list), class: "btn btn-primary" %>
  <%= link_to "Delete the List", list_path(@list), method: :delete, data: { confirm: "Are you sure?" }, class: "btn btn-secondary" %>
  <%= link_to "Back to my Lists", lists_path%>
</div>
